@import "../../constants/index.scss";
@import "../../constants/mixing.scss";

.mini-box__container {
  position: absolute;
  width: 192px;
  height: 128px;
  background: $white;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
  border-radius: $spacing-8;
  left: 386px;
  top: 65px;
  padding: $spacing-24;
}
