@import "../../constants/index.scss";
@import "../../constants/mixing.scss";

.row__container {
  text-decoration: none;
  background: $white;
  box-shadow: 0 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: $spacing-8;
  width: 100%;
  max-height: 72px;
  padding: $spacing-28 $spacing-32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-43;
  transition: all 0.5s ease-out;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border: 1px solid $purple;
  }
  &.dark {
    background-color: $dark-blue;
  }
  @include devices("tablet") {
    padding: $spacing-16 $spacing-24;
    max-width: 672px;
    gap: $spacing-24;
  }

  @include devices("mobile") {
    display: grid;
    max-width: 327px;
    height: 134px;
    max-height: 134px;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-8;
    align-items: flex-start;
    padding: $spacing-24;
  }

  .row__container-id {
    font-weight: $font-weight-700;
    font-size: $font-size-16;
    line-height: $line-height-15;
    letter-spacing: $letter-spacing-25;
    color: $chinese-black;
    display: flex;
    gap: 1px;
    &.dark {
      color: $white;
    }
    .row__id-strong {
      font-weight: $font-weight-700;
      font-size: $font-size-16;
      line-height: $line-height-15;
      letter-spacing: $letter-spacing-25;
      color: $ube;
    }
  }

  .row__container-date {
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-15;
    letter-spacing: $letter-spacing-25;
    color: $ube;
    &.dark {
      color: $lavander;
    }
    @include devices("mobile") {
      text-align: left;
      align-self: flex-end;
    }
  }
  .row__container-name {
    font-weight: $font-weight-400;
    font-size: $font-size-16;
    line-height: $line-height-15;
    letter-spacing: $letter-spacing-25;
    color: $ube-light;
    &.dark {
      color: $white;
    }
    @include devices("mobile") {
      grid-column: 2/3;
      grid-row: 1/2;
      align-self: flex-end;
      text-align: center;
    }
  }
  .row__container-amount {
    font-weight: $font-weight-700;
    font-size: $font-size-16;
    line-height: $line-height-24;
    text-align: right;
    letter-spacing: $letter-spacing-8;
    color: $chinese-black;
    text-align: right;

    &.dark {
      color: $white;
    }
    @include devices("mobile") {
      text-align: left;
    }
  }

  .arrow__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $line-height-20;
    align-self: center;
    @include devices("mobile") {
      grid-column: 2/3;
      grid-row: 2/4;
    }
    .arrow-left {
      transform: rotate(270deg);
      @include devices("mobile") {
        display: none;
      }
    }
  }
}
