@import "../../constants/index.scss";
@import "../../constants/mixing.scss";

.form-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-32;
  height: 100%;

  .form-header {
    font-weight: $font-weight-700;
    font-size: $font-size-24;
    line-height: $line-height-32;
    letter-spacing: -0.5px;
    color: $chinese-black;
  }
  .address-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-24;
    .address-header {
      @include form-headers;
    }
    .input-group {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: $spacing-24;
    }
  }

  .pickers-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;

    .picker-label {
      @include form-labels;
    }
  }
}
