// Colors
$purple: #7c5dfa;
$light-purple: #9277ff;
$dark-blue: #1e2139;
$yankees-blue: #252945;
$lavander: #dfe3fa;
$cool-gray: #888eb0;
$ube: #7e88c3;
$chinese-black: #0c0e16;
$fire-opal: #ec5757;
$american-pink: #ff9797;
$gohts-white: #f8f8fb;
$eerie-black: #141625;

// fonts

$font-weight-700: 700;
$font-weight-500: 500;
$font-size-32: 2rem;
$font-size-16: 1rem;
$font-size-12: 0.75rem;
$line-height-36: 2.25rem;
$line-height-24: 1.5rem;
$line-height-15: 0.938rem;
