@import "./index.scss";

@mixin devices($breakpoint) {
  //the name of the mixin is devices

  @if $breakpoint == bigdesktop {
    @media only screen and (min-width: 1920px) {
      @content;
    }
  }

  @if $breakpoint ==tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint ==mobile {
    @media only screen and (max-width: 430px) {
      @content;
    }
  }
}

@mixin modal-overlay {
  background: $black;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@mixin bold-text-subtitle {
  font-weight: $font-weight-700;
  font-size: $font-size-16;
  line-height: $line-height-20;
  letter-spacing: $letter-spacing-3125;
  color: $chinese-black;
  &.dark {
    color: $white;
  }
}

@mixin bold-text-title {
  font-weight: $font-weight-500;
  font-size: $font-size-12;
  line-height: $line-height-15;
  letter-spacing: $letter-spacing-25;
  color: $ube;
  &.dark {
    color: $lavander;
  }
}

@mixin flex-details-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-12;
  width: 100%;
}
