@import "../../constants/index.scss";
@import "../../constants/mixing.scss";

.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $spacing-24;
  position: relative;

  &.dark {
    background-color: $dark-blue;
    color: $white;
  }

  .selected-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    background: $white;
    border: 1px solid $lavander;
    border-radius: 4px;
    padding: $padding-spaicing-16 $padding-spaicing-20;
    cursor: pointer;

    &.dark {
      background-color: $dark-blue;
      border: 1px solid $dark-blue;
    }
  }

  .dates {
    display: none;
    position: absolute;
    width: 240px;
    height: 243px;
    background: $white;
    box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
    border-radius: $border-radius-8;
    top: 70px;

    &.dark {
      background-color: $dark-blue;
    }

    &.active {
      display: block;
    }
  }
  .month {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding-spaicing-28 $padding-spaicing-24;

    &.dark {
      background-color: $dark-blue;
      border: 1px solid $dark-blue;
    }

    .arrows {
      color: rgba(124, 93, 250, 1);
      cursor: pointer;
    }
  }

  .days {
    display: grid;
    row-gap: $spacing-16;
    column-gap: 15px;
    grid-template-columns: repeat(7, 1fr);
    padding: $padding-spaicing-18;
    height: 139px;

    &.dark {
      background-color: $dark-blue;
      color: $white;
    }

    .day {
      font-weight: $font-weight-700;
      font-size: $font-size-12;
      line-height: $line-height-15;
      text-align: center;
      letter-spacing: $letter-spacing-416667;
      color: $chinese-black;
      cursor: pointer;

      &.dark {
        color: $white;
      }

      &.selected {
        color: rgba(124, 93, 250, 1);
      }

      &.next-month {
        text-align: center;
        letter-spacing: $letter-spacing-416667;
        color: $chinese-black;
        mix-blend-mode: normal;
        opacity: 0.08;

        &.dark {
          color: $lavander;
        }
      }
    }
  }
}
