@import "./constants/index.scss";
@import "./constants/mixing.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  transition: all 0.5s ease-out;
}

.main__container {
  background: $gohts-white;
  height: 100%;
  min-height: 100vh;
  transition: all 0.5s ease-out;
  display: flex;
  @include devices("tablet") {
    flex-direction: column;
  }
  .main__content {
    padding: 4.5rem 22.188rem 3.375rem 15.75rem;
    @include devices("tablet") {
      padding: 3.5rem $padding-spaicing-48 10.813rem;
    }

    @include devices("mobile") {
      padding: $padding-spaicing-32 $padding-spaicing-24;
    }
    .header {
      font-weight: $font-weight-700;
      font-size:$font-size-32;
      line-height: $line-height-36;
      letter-spacing: -1px;
      &.dark {
        color: $white;
      }
    }
  }
  &.dark {
    background: $eerie-black;
  }
}
