@import "../../constants/index.scss";
@import "../../constants/mixing.scss";

.details__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $spacing-24;

  .details__container-top {
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $spacing-28;
    .arrow-left {
      transform: rotate(90deg);
    }
    .details__container-top-label {
      font-weight: $font-weight-700;
      font-size: $font-size-12;
      line-height: $line-height-15;
      letter-spacing: $letter-spacing-25;
      color: $ube;
    }
  }

  .details__container-middle {
    width: 730px;
    height: 88px;
    background: $white;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: $spacing-8;
    display: flex;
    justify-content: space-between;
    padding: $padding-spaicing-24 $padding-spaicing-32;
    @include devices("mobile") {
      width: 327px;
      height: 91px;
      padding: $padding-spaicing-24;
    }
    &.dark {
      background: $dark-blue;
    }
    .details__container-middle-left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $spacing-16;
      @include devices("mobile") {
        justify-content: space-between;
        width: 100%;
      }
      .details__container-middle-span {
        font-weight: $font-weight-500;
        font-size: $font-size-12;
        line-height: $line-height-15;
        letter-spacing: $letter-spacing-25;
        color: $ube-light;
        &.dark {
          color: $lavander;
        }
      }
    }
    .details__container-middle-right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: $spacing-8;
    }
  }
  .details__container-main {
    width: 730px;
    height: 631px;
    background: $white;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: $spacing-8;
    padding: $padding-spaicing-48;
    .details__table-container {
      background: #f9fafe;
      border-radius: 8px 8px 0px 0px;
      margin-top: 45px;
      min-height: 184px;
      padding: 32px;
      .details__table-headers {
        gap: 90px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        .details__table-headers-title {
          font-weight: 500;
          font-size: 11px;
          line-height: 18px;
          letter-spacing: -0.229167px;
          color: #7e88c3;
          &.item-name {
            grid-column: 1/3;
          }
          &.total {
            display: flex;
            justify-content: center;
            align-self: flex-end;
          }
          &.price {
            text-align: right;
          }
        }
      }
      .details__table-items-container {
        gap: 90px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 32px;
        .details__table-items {
          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: -0.25px;
          color: #7e88c3;
          min-width: 45px;
          &.total {
            color: #0c0e16;
          }
          &.title {
            color: #0c0e16;
            grid-column: 1/3;
          }
          &.qty {
            text-align: center;
            // align-self:center;
            // display: flex;
            // justify-content: center;
          }
        }
      }
    }
    .details__table-container-total {
      background: #373b53;
      border-radius: 0px 0px 8px 8px;
      min-height: 80px;
    }
    @include devices("tablet") {
      padding: $padding-spaicing-32;
    }

    @include devices("mobile") {
      width: 327px;
      height: 695px;
      padding: $padding-spaicing-24;
    }
    &.dark {
      background: $dark-blue;
    }

    .details__container-main-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: $spacing-24;
      grid-column-gap: 100px;
      width: 100%;
      @include devices("mobile") {
        grid-column-gap: 0;
        grid-template-columns: repeat(2, 1fr);
      }
      .details__top-left {
        grid-column: 1/3;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: $spacing-8;
        @include devices("mobile") {
          grid-column: 1/2;
        }
        .details__top-left-title {
          font-weight: 700;
          font-size: $font-size-16;
          line-height: $line-height-24;
          letter-spacing: $letter-spacing-8;
          color: $chinese-black;
          &.dark {
            color: $white;
          }
          .strong {
            color: $cool-gray;
          }
        }

        .details__top-left-subtitle {
          font-weight: $font-weight-500;
          font-size: $font-size-12;
          line-height: $line-height-15;
          letter-spacing: $letter-spacing-25;
          color: $ube;
          &.dark {
            color: $lavander;
          }
        }
      }
      .details__top-right {
        grid-column: 3/5;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        @include devices("mobile") {
          grid-column: 1/2;
          align-items: flex-start;
          justify-content: flex-start;
          text-align: left;
        }
        .details__top-right-title {
          max-width: 94px;
          font-weight: $font-weight-500;
          font-size: $font-size-11;
          line-height: $line-height-18;
          text-align: right;
          letter-spacing: $letter-spacing-229167;
          color: $ube;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          flex-direction: column;

          .details-span {
            &.dark {
              color: $white;
            }
            @include devices("mobile") {
              align-self: flex-start;
            }
          }
        }
      }
      .details__middle-left {
        grid-column: 1/2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: $spacing-32;
        width: 100%;
        .details__middle-left-top {
          min-width: 100px;
          @include flex-details-middle;
          .details__middle-left-top-title {
            @include bold-text-title;
          }
          .details__middle-left-top-subtitle {
            @include bold-text-subtitle;
          }
        }
        .details__middle-left-bottom {
          @include flex-details-middle;
          .details__middle-left-bottom-title {
            @include bold-text-title;
          }
          .details__middle-left-bottom-subtitle {
            @include bold-text-subtitle;
          }
        }
      }
      .details__middle-middle {
        grid-column: 2/3;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: $spacing-8;
        min-width: 93px;
        .details__middle-middle-title {
          @include bold-text-title;
        }
        .details__middle-middle-subtitle {
          @include bold-text-subtitle;
          min-width: 100px;
        }
        .details__middle-middle-text {
          font-weight: $font-weight-500;
          font-size: $font-size-11;
          line-height: $line-height-18;
          letter-spacing: $letter-spacing-229167;
          color: $ube;
          word-break: normal;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          .details__middle-middle-span {
            &.dark {
              color: $white;
            }
          }
        }
      }
      .details__middle-right {
        grid-column: 3/5;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: $spacing-12;
        margin-left: 60px;
        @include devices("mobile") {
          grid-column: 1/2;
          justify-content: flex-start;
          align-items: flex-start;
          margin-left: 0;
        }
        .details__middle-right-title {
          @include bold-text-title;
        }
        .details__middle-right-subtitle {
          @include bold-text-subtitle;
        }
      }
    }
  }
}
