@import "../../constants/index.scss";
@import "../../constants/mixing.scss";

.details__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: $spacing-24;
  .details__container-top {
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $spacing-28;
    .arrow-left {
      transform: rotate(90deg);
    }
    .details__container-top-label {
      font-weight: $font-weight-700;
      font-size: $font-size-12;
      line-height: $line-height-15;
      letter-spacing: $letter-spacing-25;
      color: $ube;
    }
  }

  .details__container-middle {
    width: 730px;
    height: 88px;
    background: $white;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: $spacing-8;
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    .details__container-middle-left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      .details__container-middle-span {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: -0.25px;
        color: #858bb2;
      }
    }
    .details__container-middle-right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
  }
  .details__container-main {
    width: 730px;
    height: 631px;
    background: $white;
    box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
    border-radius: $spacing-8;
  }
}
